.parentDiv {
    height: 300px;
    width: 300px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.photoDiv {
    margin: 15px 100px;
    box-shadow: red 10px;
}

.introBox {
    height: 80%;
    width: 80%;
    background: chartreuse;
    margin: 15px 100px;
    display: flex;
    flex-direction: column;
}

.sunPhoto {
    border-radius: 4px;
    height: 60vh;
    width: 60vw;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

