@media(min-width: 768px){



.parentDiv {
    margin-left: 100px;
    height: 100vh;
    width: 300px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.photoDiv {
    margin: 15px 100px;
}

.sunPhoto {
    border-radius: 4px;
    height: 80vh;
    width: 80vw;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

.introBox {
    height: 350px;
    width: 800px;
    /* background: chartreuse; */
    margin: 15px 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* justify-content: center */
}

.introBox p {
    position: absolute;
    top: 60px;
    left: 100px;
}

.about {
    /* height: 30px;
    width: 80px; */
    /* background: blue; */
    font-size: 2em;
    margin-bottom: 18px;
    margin-left: 15px;
    font-weight: bold;

}

.button {
    margin: 100px;
    padding: 4px 30px;
    border: none;
    font-size: 15px;
    /* position: absolute; */
    
}

.button:hover {
    background-color: #E7E9F0;
}

}