@media(min-width: 768px) {

    .mobileView {
        display: none;
    }

/* Desktop View */

.navbarDesktop {
    height: 100vh;
    width: 15vw;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    position: fixed;
    
}

.titleDesktop {
    text-decoration: none;
    margin: 15px;
    font-size: 30px;
}

.buttonDesktop {
    margin: 15px;
    padding: 4px 30px;
    border: none;
    font-size: 15px;
    
}

.buttonDesktop:hover {
    background-color: #E7E9F0;
}

.listDesktop {
    margin: 15px;
}

.linkDesktop {
    text-decoration: none;
    color: black;
}


.listItemDesktop {
    margin: 20px;
    text-decoration: none;
}

}

@media(max-width: 768px){

    /* Mobile View */

    .desktopView {
        display: none
    }

    .hamburger {
        height: 30px;
        margin: 10px;
    }

    .navbarMobile {
        height: 100vh;
        width: 100%;
        background: #F6F6F6;
        z-index: 1000;
        transition: .5s;
    }
}